# Python уақытша файлдары
__pycache__/
*.py[cod]

# Виртуалды орта (міндетті түрде жасыру керек)
venv/
.venv/
env/

# Құпия деректер мен баптаулар
.env
.vscode/

# Дерекқор файлдары (PostgreSQL қолдансаң да, уақытша файлдар кетпеуі үшін)
*.sqlite3
*.log

# Осы файлдар GitHub-қа жүктелмейді